# Composer
/composer.lock
/vendor/

# PHPUnit
/phpunit.xml
/.phpunit.result.cache

# Entwicklungsumgebungen
/.idea/
/.vscode/
Thumbs.db
.DS_Store

# Eigene Arbeitsnotizen, gehören nicht ins Paket
/TODO.md
