.tl_content .inline
{
	display            : inline-block;
}

.align-right
{
	text-align         : right;
}

.tl_folder_tlist
{
	padding            : 2px 5px 3px;
}

.item
{
	padding-left       : 5px;
	padding-right      : 5px;
}

#tl_navigation .group-fernschach {
	background:url("/bundles/contaofernschach/images/knight_yellow_24.png") 3px 2px no-repeat;
	background-size: 16px;
}

table.tl_fernschach_tabelle {
	border-collapse: collapse;
	margin: 18px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

table.tl_fernschach_tabelle th,
table.tl_fernschach_tabelle td {
	padding: 6px;;
	border: 1px solid #DFDFDF;
	vertical-align: top;
}

#main .fernschach-doku {
	border: 0;
	padding: 20px;
}

#main .fernschach-doku h1 {
	padding-bottom: 0.3em;
	font-size: 2em;
	margin-bottom: 10px;
}

#main .fernschach-doku h2 {
	padding-bottom: 0.3em;
	font-size: 1.5em;
	margin-bottom: 10px;
}

#main .fernschach-doku h3 {
	padding-bottom: 0.3em;
	font-size: 1.2em;
	margin-bottom: 10px;
}

#main .fernschach-doku h4 {
	padding-bottom: 0.3em;
	font-size: 1em;
	margin-bottom: 10px;
}

#main .fernschach-doku p,
#main .fernschach-doku li {
	font-size: 15px;
}

#main .fernschach-doku a {
	color: blue;
}

#main .fernschach-doku ol li {
	list-style-type: decimal;
	margin-left: 20px;
}

table.fernschach_kopf th {
	padding: 10px;
	border: 1px solid black;
}

table.fernschach_kopf td {
	padding: 4px;
	border: 1px solid #C8C8C8;
}

.farbe_markiert {
	background-color: #9DFF9D;
}

td.col_betrag,
td.col_saldo {
	text-align:right;
}

p.fernschach-verwaltung ul {
	list-style: square;
}

p.fernschach-verwaltung li {
	margin-bottom: 3px;
}

table.tl_iccf_tabelle {
	border-collapse: collapse;
	margin: 18px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

table.tl_iccf_tabelle th,
table.tl_iccf_tabelle td {
	padding: 6px;;
	border: 1px solid #DFDFDF;
	vertical-align: top;
}

#progressbar {
	width: 100%;
	border: 1px solid black;
	height: 30px;
}

#progressbar div {
	background-color: #f47c00;
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	animation: crawl-progress-bar-stripes 1s linear infinite;
	width: 0%;
	height: 100%;
	text-align: center;
}

#progressbar span {
	display: inline-block;
	line-height: 30px;
	font-weight: bold;
	color: white;
}
