.tl_content .inline
{
	display            : inline-block;
}

.align-right
{
	text-align         : right;
}

.tl_folder_tlist
{
	padding            : 2px 5px 3px;
}

.item
{
	padding-left       : 5px;
	padding-right      : 5px;
}

#tl_navigation .group-fernschach {
	background:url("/bundles/contaofernschach/images/knight_yellow_24.png") 3px 2px no-repeat;
	background-size: 16px;
}

table.tl_fernschach_tabelle {
	border-collapse: collapse;
	margin: 18px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

table.tl_fernschach_tabelle th,
table.tl_fernschach_tabelle td {
	padding: 6px;;
	border: 1px solid #DFDFDF;
	vertical-align: top;
}

#main .fernschach-doku {
	border: 0;
	padding: 20px;
}

#main .fernschach-doku h1 {
	padding-bottom: 0.3em;
	font-size: 2em;
	margin-bottom: 10px;
}

#main .fernschach-doku h2 {
	padding-bottom: 0.3em;
	font-size: 1.5em;
	margin-bottom: 10px;
}

#main .fernschach-doku h3 {
	padding-bottom: 0.3em;
	font-size: 1.2em;
	margin-bottom: 10px;
}

#main .fernschach-doku h4 {
	padding-bottom: 0.3em;
	font-size: 1em;
	margin-bottom: 10px;
}

#main .fernschach-doku p,
#main .fernschach-doku li {
	font-size: 15px;
}

#main .fernschach-doku a {
	color: blue;
}

#main .fernschach-doku ol li {
	list-style-type: decimal;
	margin-left: 20px;
}
